/* css varijable */
:root {
    --primary: #be3279;
    --text: rgb(18, 18, 18);
    --18px: calc(18rem/16);
    --24px: calc(24rem/16);
    --20px: calc(20rem/16);
    --16px: calc(16rem/16);
    --32px: calc(32rem/16);
    --10px: calc(10rem/16);
    --12px: calc(12rem/16);
    --primary-font: "Open Sans";
    --color1: #009ee0;
    --14px: calc(14rem/16);
    --color2: #f00;
    --color3: #89ba19;
    --28px: calc(28rem/16);
    --btn-radius: 12px;
    --color4: rgb(240, 240, 240);
    --color5: #6b7280;
}

footer {
    border-top: 1px gray solid;
}

body {
    margin: 0;
    font-family: var(--primary-font);
}

footer p {
    text-align: center;
}

.footer-div {
    padding: 20px 40px;
}

.container-div {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    min-height: 70vh;
    padding: 30px 20px;
}

h1, h2, h3, h4, p {
    margin: 0;
}


  


