.products-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 16px;
}

.product-img {
    width: 100%;
}
