.products-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

.product-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 16px;
}

.product-img {
    width: 100%;
}

.search-products-img {
    width: 30px;
    height: 30px;
}

.search-products-input {
    padding: 12px;
    border: none;
    background-color: rgb(230, 230, 230);
    font-size: 24px;
    min-width: 30%;
}

.search-products-input:focus {
    outline: none;
}

.search-products-btn {
    background-color: rgb(255, 145, 67);
    padding: 8px;
    border: none;
    margin-left: -5px;
}

.search-products-div {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
}

.header-div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

.cart-div img {
    width: 50px;
    height: 50px;
}

.cart-div {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 50px;
}