<header>
  <img src="/assets/site logo.png" alt="pc web shop logo" class="site-logo-img">
  <ul class="menu-ul">
    <li>
      <a href="/">Products</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
  <div class="header-buttons-div">
    <button class="login-btn rounded-btn">
      <img src="/assets/user login.png" alt="">
    </button>
    <a class="shopping-cart-btn rounded-btn" href="/cart">
      <img src="/assets/shopping cart.png" alt="">
      <span><%= locals.cartItemsCount  %></span>
    </a>
  </div>
</header>